@font-face { 
    font-family: subtitles; 
    src: url('silkscreen/slkscre.ttf'); 
}

body {
    font-face: subtitles;
}

.container, .error {
    display: box;
    margin-left: auto;
    margin-right: auto;
    
    /* center the canvas. */
    text-align: center;
    
    width: 200px;
}

.container {
    min-height: 520px;

    background-color: #fff;
}

#board {
    background-color: #fff;
    border: 1px solid #000000;

    /* nice shadow outlines */
    box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
}

.error {
    border: 1px solid 
    cursor: pointer;
    padding: 5px 10px;
    font: 1em Georgia;
    background: #FF5555;
}
